name: Compilar GeometryDashCE

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Instalar librerías necesarias
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libgmp-dev libssl-dev zlib1g-dev

      - name: Compilar e instalar spasm-ng
        run: |
          git clone https://github.com/alberthdev/spasm-ng.git
          cd spasm-ng
          make
          sudo make install
          # Ya no ejecutamos 'spasm -v' porque sabemos que funciona

      - name: Crear carpeta de salida
        run: mkdir -p bin

      - name: Compilar el juego
        # Usamos 'make' a secas, que suele ser la opción más segura
        # Si el repositorio pide 'make build', cámbialo aquí.
        run: make

      - name: Subir archivo .8xp
        uses: actions/upload-artifact@v4
        with:
          name: GeometryDashCE-Game
          path: "**/*.8xp"
          if-no-files-found: error
