name: Compilar GeometryDashCE Completo

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Instalar librerías del sistema
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libgmp-dev libssl-dev zlib1g-dev

      - name: Compilar e instalar spasm-ng
        run: |
          git clone https://github.com/alberthdev/spasm-ng.git
          cd spasm-ng
          make
          sudo make install
          # Spasm instalado correctamente

      - name: Crear carpeta de salida
        run: mkdir -p bin

      - name: Compilar el motor del juego (AGD.8xp)
        run: make

      - name: Compilar los niveles (AppVars .8xv)
        # Según el Makefile original, el comando para los niveles es 'make levels'
        run: make levels

      - name: Subir Juego y Niveles (Artifact)
        uses: actions/upload-artifact@v4
        with:
          name: GeometryDashCE-Completo
          # Guardamos todos los archivos que empiecen por .8x (.8xp y .8xv)
          path: |
            bin/*.8xp
            bin/*.8xv
          if-no-files-found: error
